<div style="background-color: #272727">
  <div>
    <p>{{ datas?.name }}</p>
    <p>°C</p>
  </div>
  <div>
    <div>
      <p>{{ datas?.main.temp }}</p>
      <!-- formattare la data -->
      <p>{{ datas?.dt }}</p>
    </div>
    <div>
      <div>
        <p>{{ datas?.weather[0].icon }}</p>
      </div>
      <div>
        <div>
          <p>{{ datas?.main.temp_max }}</p>
          <p>{{ datas?.main.temp_min }}</p>
        </div>
        <div>
          <p>{{ datas?.weather[0].description }}</p>
          <p>{{ datas?.main.feels_like }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
